@model IEnumerable<PresenterData.Models.Presenter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@* Uncomment this to activate create link
    <p>
        @Html.ActionLink("Create New", "Create")
    </p> *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperTitle)
        </th>
        <th>
            @Html.ActionLink("Session Id", "Index", new { sortBy = ViewBag.SessionSort })
        </th>
        <th>
            @Html.ActionLink("Score", "Index", new { sortBy = ViewBag.TotalSort })
        </th>
        <th>
            @Html.ActionLink("Paper Score", "Index", new { sortBy = ViewBag.PaperSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Totmar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
